/* Notebook */

@media screen and (max-width: 1466px){
    
    main{
        justify-content: space-around;
    }

    .apresentacao__conteudo{
        padding: 0;
        margin: 10% 0 0 4%;
    }

    .apresentacao__conteudo textarea{
        width: 100%;
    }

    .apresentacao__conteudo__terciario{
        width:16.875rem;
    }

    .apresentacao__conteudo__terciario__titulo{
        font-size: 1.125rem;
    }

    .apresentacao__conteudo__terciario__paragrafo{
        font-size: 0.813rem;
    }

    #boneco{
        max-width: 15.625rem;
    }

    .btn-copiar{
        padding: 10px;
    }
}



/* Tablet */
@media screen and (max-width: 768px){

    * :root{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }   

    .cabecalho{
        margin: 4.375rem 0px;
    }

    main{
        display: flex;
        gap: 0px;
        flex-direction: column;
    }

    .apresentacao__conteudo{
        margin: 3% 5% 0 5% ;
        
    }


    .apresentacao__conteudo textarea{
        width: 95%;
        margin-left:0 ;
        height: 31.25rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 0.75rem;
    }
    
    .apresentacao__conteudo__botao{
        display: flex;
        gap: 2.813rem;
    }

    .apresentacao__conteudo__terciario{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 40.813rem;
        height: 22rem;;
        margin: 5%;
        border-radius: 2rem;
    }

    .rodape{
        font-size: 0.875rem;
        width: auto;
    }

    #boneco{
        display: none;
    }
}

/* Celular */
@media screen and (max-width: 400px){
    *{
        padding: 0px;
        margin: 0px;
    }

    .cabecalho{
    padding: 0px;
    margin: 1.5rem 0 3.125rem 0;
    }

    .apresentacao__conteudo{
        padding: 3%;
        margin: 0px;
    }

    .apresentacao__conteudo__botao{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .btn-estilo{
        padding: 1.25rem 1.875rem; 
    }

    .apresentacao__conteudo__terciario{
        width: 22rem;
        padding: 5%;
        margin: 3.75rem 5%;
        height: 37.5rem;
        
    }

    #boneco{
        display: none;
    }
}
